<!DOCTYPE html>
<html>
<head>
    <title>Doc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form method="post" action="/users">
    <input type="file" name="files" accept="image/*" multiple>
    <button type="submit">Submit</button>
</form>
</body>
</html>
